{% extends "layout.njk" %}

{% block content %}
  <section class="hero">
    <h1>My Scriblings</h1>
    <p>A collection of notes on WebDev, JavaScript, Node.js, APIs and more.</p>
  </section>

  <section class="latest-posts">
    <div class="tag-container">
      {% for tag in tags %}
        <a href="/tags/{{ tag }}" class="tag-badge">#{{ tag }}</a>
      {% endfor %}
    </div>
    <h2>Recent Posts</h2>
    <div class="post-grid">
      {% for post in posts %}
        <div class="post-card">
          <h3><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
          <time class="small-text muted-text">
            Created: {{ post.createdAt | formatDate }}
          </time>
          {% if post.updatedAt !== post.createdAt %}
            <span class="separator">•</span>
            <time  class="small-text muted-text">
              Updated: {{ post.updatedAt | formatDate }}
            </time>
          {% endif %}
        </div>
      {% else %}
        <p>No posts found!</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
