<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Posts</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
