{% extends "layout.njk" %}

{% block content %}
  <section class="hero">
    <h1>Posts</h1>
    <div class="tags">
      {% for tag in tags %}
        <a href="/tags/{{ tag }}" class="tag-badge">#{{ tag }}</a>
      {% endfor %}
    </div>
  </section>

  <section class="latest-posts">
    <div class="post-grid">
      {% for post in posts %}
        <div class="post-card">
          <h3><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
          <small>{{ post.createdAt }} | {{ post.updatedAt }}</small>
        </div>
      {% else %}
        <p>No posts found!</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
