name: Deploy Blog Application
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands to deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            # Load NVM and Node into this specific session
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            git config --global --add safe.directory /var/www/blog
            cd /var/www/blog || { echo "Folder not found"; exit 1; }
            git fetch --all
            git reset --hard origin/main
            npm install
            npx drizzle-kit push
            pm2 startOrRestart /var/www/ecosystem.config.cjs --env production
            pm2 save
